.containerBody {
  display: flex;
  position: relative;
  bottom: 4.313rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  margin: 3.125rem;
}

@media screen and (min-width: 768px) {
  .containerBody {
    bottom: 5.375rem;
  }
}
