.containerBody {
  display: flex;
  position: relative;
  bottom: 69px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 50px;
}

@media screen and (min-width: 768px) {
  .containerBody {
    bottom: 86px;
  }
}
