.buttonBanner {
  color: var(--white);
  background: var(--medium-blue);
  border: none;
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  font-family: var(--primary-font);
  font-size: 1rem;
  cursor: pointer;
}
