.navigationMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  column-gap: 3rem;
}

@media screen and (min-width: 744px) {
  .navigationMenu {
    height: 7rem;
  }
}
