.containerError {
  background: var(--dark-blue);
  color: var(--white);
  padding: 2rem 1rem;
  font-family: var(--secondary-font);
  height: 52.5rem;
}

.textError {
  font-size: 5rem;
  text-align: center;
  color: var(--medium-blue);
  margin-bottom: 2rem;
}

.subTextError {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.descriptionError {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.containerButton {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.containerImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.imageError {
  margin: 2.5rem;
}

.containerWhite {
  height: 53vw;
}

@media screen and (min-width: 744px) {
  .containerError {
    height: 37.5rem;
  }

  .containerButtonImage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .containerButton {
    flex: 1;
    width: 31.25rem;
    height: 3.75rem;
  }

  .containerImage {
    flex: 1;
  }

  .containerWhite {
    height: 53vw;
  }
}

@media screen and (min-width: 1024px) {
  .containerInfoError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .descriptionError {
    width: 60%;
  }
  .containerImage {
    margin: 7.5rem;
    height: 16.438rem;
  }

  .containerButtonImage {
    margin: 0 7.5rem 0 7.5rem;
  }

  .imageError {
    margin: 0 0 0 0.313rem;
  }

  .containerWhite {
    height: 40vh;
  }
}
