.subTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.containerImg {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.imgProfile {
  width: 60%;
  height: 60%;
}

.text {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .containerImg {
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    width: 40vw;
    float: right;
  }
}
